{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 1fr 1fr;">
      <div class="bg-body-tertiary border rounded-3">
        <h2>
            <a href="/home/customer_list" class="nav-link">
              Customers
            </a>
        </h2>
        <br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="bg-body-tertiary border rounded-3">
        <h2>
            <a href="/home/staff_list" class="nav-link">
              Staff
            </a>
        </h2>
        <br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="bg-body-tertiary border rounded-3">
        <h2>
            <a href="/home/car_list" class="nav-link">
                Cars
            </a>
        </h2>
        <br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
{% endblock %}