{% extends 'layout.html' %}

{% block title %}Car Details{% endblock %}

{% block content %}

<div>
<table class="table table-striped mt-5 text-center" >
    <tr>
        <td>Car ID:</td>
        <td>{{car['CarID']}}</td>
    </tr>
    <tr>
        <td>Car Image:</td>
        {% if car['CarImage'] %}
        <td><img src="{{ url_for('static', filename='car_images/' + car['CarImage']) }}"></td>
        {% else %}
        <td><img src="{{ url_for('static', filename='car_images/' + 'replace.gif') }}"></td>
        {% endif %}
    </tr>
    <tr>
        <td>Car Model:</td>
        <td>{{car['CarModel']}}</td>
    </tr>
    <tr>
        <td>Year:</td>
        <td>{{car['Year']}}</td>
    </tr>
    <tr>
        <td>Registration Number:</td>
        <td>{{car['RegNumber']}}</td>
    </tr>

    <tr>
        <td>Seat Capacity:</td>
        <td>{{car['SeatCap']}}</td>
    </tr>
    <tr>
        <td>Rental Per Day:</td>
        <td>{{car['RentalPerDay']}}</td>
    </tr>
    <tr>
        <td>Availability:</td>
        {% if car['CustomerID'] == None %}
        <td>Available</td>

        {% else %}
        <td>Unavailable</td> 
        <td>Under rent by Customer {{car['CustomerID']}}</td> 
        {% endif %}
    </tr>

</table>
</div>

{% endblock %}