{% extends 'layout.html' %}

{% block title %}Cars{% endblock %}

{% block content %}


<table>
    <tr><th>Car ID</th><th>Car Model</th><th>Year</th><th>Registration Number</th><th>Seat Capacity</th><th>Rental Per Day</th><th>Availability</th></tr>
        <tr>
                <td>{{car['CarID']}}</td>
                <td>{{car['CarModel']}}</td>
                <td>{{car['Year']}}</td>
                <td>{{car['RegNumber']}}</td>
                <td>{{car['SeatCap']}}</td>
                <td>{{car['RentalPerDay']}}</td>
                {% if car['UserID'] == None %}
                    <td>Available</td>
                {% else %}
                    <td>Unavailable</td>
                {% endif %}
        </tr>
</table>





{% endblock %}