{% extends 'layout.html' %}

{% block title %}Cars{% endblock %}

{% block content %}

<!-- <table> -->
    <!-- <tr><th>Car ID</th><th>Car Model</th><th>Year</th><th>Registration Number</th><th>Seat Capacity</th><th>Rental Per Day</th><th>Availability</th></tr> -->

    <!-- {% for entry in cars %}
        <tr>
            <td>{{entry[0]}}</td>
            <td>{{entry[1]}}</td>
            <td>{{entry[2]}}</td>
            <td>{{entry[3]}}</td>
            <td>{{entry[4]}}</td>
            <td>{{entry[5]}}</td>
            <td>{{entry[6]}}</td>
        </tr>
    {% endfor %} -->
    <!-- {% for entry in cars %}
        <tr>
                <td><a href="/home/cars/{{entry[0]}}">{{entry[0]}}</a></td>
                <td>{{entry[1]}}</td>
                <td>{{entry[2]}}</td>
                <td>{{entry[3]}}</td>
                <td>{{entry[4]}}</td>
                <td>{{entry[5]}}</td>
                {% if entry[6] == NULL %}
                    <td>Available</td>
                {% else %}
                    <td>Unavailable</td>
                {% endif %}
        </tr>
    {% endfor %} -->
<!-- </table> -->

{{carlist[0]}}; 
{{carlist[1]}}; 
{{carlist[2]}}; 
{{carlist[3]}}; 
{{carlist[4]}}; 
{{carlist[5]}}; 
{{carlist[6]}};