{% extends 'layout.html' %}

{% block title %}Staff{% endblock %}

{% block content %}

{% with msg = get_flashed_messages() %}
  {% if msg %}
        {{ msg }}
  {% endif %}
{% endwith %}


<a href="{{ url_for('add_user_page', type='customer')}}" class="btn btn-primary">Add Customer</a>

<table class="table table-striped mt-5 text-center" id="myTable">
    <tr><th>Customer ID</th><th>Username</th><th>Email</th><th>Display Name</th><th>Address</th><th>Phone Number</th><th>Action</th></tr>
    {% for customer in customer_list %}
        <tr>
                <td>{{customer['UserID']}}</td>
                <td>{{customer['UserName']}}</td>
                <td>{{customer['Email']}}</td>
                <td>{{customer['ProfileName']}}</td>
                <td>{{customer['Address']}}</td>
                <td>{{customer['PhoneNumber']}}</td>
                <td>
                    <a href="{{ url_for('edit_user', userid=customer['UserID'], type='customer')}}">Edit</a>
                    <a href="/delete/user/{{customer['UserID']}}">Delete</a>
                </td>
        </tr>
    {% endfor %}
</table>





{% endblock %}