{% extends 'layout.html' %}

{% block title %}Customer{% endblock %}

{% block content %}

{% with msg = get_flashed_messages() %}
  {% if msg %}
        {{ msg }}
  {% endif %}
{% endwith %}

<div class="container px-5">

    <div class="d-flex justify-content-between align-items-center mt-4">
        <!-- go back to dashboard icon -->
        <div>
            <a href="{{ url_for('home')}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="custom-back" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
             </a>
        </div>

        {% if user_role == 'admin'%}
        <!-- add a customer -->   
        <button type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#add_customer">
            <div class="d-flex justify-content-between align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus mx-2" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <span>Add a customer</span>
            </div>
        </button>
    
        <div class="modal fade" id="add_customer" tabindex="-1" aria-labelledby="add_customer" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add_customer">Add a customer</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('add_user')}}" method = "POST" class="needs-validation" novalidate>
                            <div class="row g-3">
                                <input type="hidden" name="user_type" value="3">

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>

                                <div class="col-sm-6">
                                    <label for="username" class="form-label">Username</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback username-empty-feedback">
                                            Username is required.
                                        </div>
                                        <div class="invalid-feedback username-invalid-format-feedback">
                                            Username must contain only letters and numbers.
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input type="text" name="firstname" class="form-control" id="firstname">
                                </div>
                            
                                <div class="col-sm-6">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input type="text" name="lastname" class="form-control" id="lastname">
                                </div>
                            
                                <div class="col-sm-6">
                                    <label for="phone" class="form-label">Phone number</label>
                                    <input type="text" name="phone" class="form-control" id="phone">
                                </div>
                            
                                <div class="col-sm-10">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" required>
                                    <div class="invalid-feedback">
                                    Valid email is required.
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            
                                <div class="col-sm-10">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" name="address" class="form-control" id="address" value="">
                                </div>

                                <div class="col-sm-10 mb-4">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="text" name="password" class="form-control" id="password" value="" required>
                                    <div class="invalid-feedback password-empty-feedback">
                                        Password is required.
                                    </div>
                                    <div class="invalid-feedback password-invalid-format-feedback">
                                        Password must be at least 8 characters including a lowercase letter, an uppercase letter, and a number.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{{ url_for('add_user') }}">
                                <button type="submit" class="btn btn-primary">Add customer</button>
                                </a>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- finish adding customer -->
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Customer ID</th><th>Username</th><th>Customer Name</th><th>Email</th><th>Phone Number</th><th>Address</th>
                    {% if user_role == 'admin' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for customer in customer_list %}
                    <tr>
                        <td class="text-center">{{customer['CustomerID']}}</td>
                        <td><a href="/profile/{{customer['UserID']}}">{{customer['UserName']}}</a></td>
                        <td><a href="/profile/{{customer['UserID']}}">{{customer['FirstName']}} {{customer['LastName']}}</a></td>
                        <td>{{customer['Email']}}</td>
                        <td>{{customer['PhoneNumber']}}</td>
                        <td>{{customer['Address']}}</td>

                        {% if user_role == 'admin' %}
                        <td>
                            <!-- Edit customer -->
                            <button type="button" class="btn custom-edit px-2 mx-0" data-bs-toggle="modal" data-bs-target="#edit_{{customer['UserID']}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>

                            <div class="modal fade" id="edit_{{customer['UserID']}}" tabindex="-1" aria-labelledby="edit_customer" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="edit_customer">Edit customer information</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <form action="{{ url_for('update_user')}}" method = "POST" class="needs-validation" novalidate>
                                                <div class="row g-3">
                                                    <input type="hidden" name="user_id" value="{{customer['UserID']}}" readonly>

                                                    <div class="col-sm-6">
                                                        <label for="customer_id" class="form-label">Customer ID</label>
                                                        <input type="text" name="customer_id" class="form-control" id="customer_id" value="{{customer['CustomerID']}}" disabled readonly>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="username" class="form-label">Username</label>
                                                        <div class="input-group has-validation">
                                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                            <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend" value="{{customer['UserName']}}" required>
                                                            <div class="invalid-feedback">
                                                                Valid username is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="firstname" class="form-label">First Name</label>
                                                        <input type="text" name="firstname" class="form-control" id="firstname" value="{{customer['FirstName']}}">
                                                    </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label for="lastname" class="form-label">Last Name</label>
                                                        <input type="text" name="lastname" class="form-control" id="lastname" value="{{customer['LastName']}}">
                                                    </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label for="phone" class="form-label">Phone number</label>
                                                        <input type="text" name="phone" class="form-control" id="phone" value="{{customer['PhoneNumber']}}">
                                                    </div>
                                                
                                                    <div class="col-sm-6">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="text" name="email" class="form-control" id="email" value="{{customer['Email']}}" required>
                                                        <div class="invalid-feedback">
                                                        Valid email is required.
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-sm-10">
                                                        <label for="address" class="form-label">Address</label>
                                                        <input type="text" name="address" class="form-control" id="address" value="{{customer['Address']}}">
                                                    </div>

                                                    <div class="col-sm-10 mb-4">
                                                        <label for="password" class="form-label">Password</label>
                                                        <input type="text" name="password" class="form-control" id="password" value="{{customer['Password']}}" required>
                                                        <div class="invalid-feedback">
                                                        Password is required.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a href="{{ url_for('update_user')}}">
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- finish editing customer -->

                            <!-- delete customer -->
                            <button type="button" class="btn custom-delete px-2 mx-0" data-bs-toggle="modal" data-bs-target="#delete_{{customer['UserID']}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </button>
                        
                            <div class="modal fade" id="delete_{{customer['UserID']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_customer" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="delete_customer">Delete customer</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                Are you sure you want to delete the customer '{{customer['FirstName']}} {{customer['LastName']}}'?
                                            </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a href="{{ url_for('delete_user', userid=customer['UserID']) }}">
                                                <button type="button" class="btn btn-primary">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- finish deleting costomer -->
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  

</div>

{% endblock %}