{% extends 'layout.html' %}

{% block title %}Edit car{% endblock %}

{% block content %}

<div class="col-md-7 col-lg-8 container mt-4" >

    <h4 class="mb-3">Edit a car</h4>

    <form action="{{ url_for('update_car')}}" method = "POST" class="needs-validation" novalidate>
      <div class="row g-3">
          <div class="col-sm-6">
            <label for="carid" class="form-label">Car ID (read only):</label>
            <input type="number" name="carid" id="carid" value="{{car_to_edit['CarID']}}" class="form-control" readonly >
          </div>

    <div class="row g-3">
      <div class="col-sm-6">
        <label for="car_model" class="form-label">Car model</label>
        <input type="text" name="car_model" class="form-control" id="car_model" value="{{car_to_edit['CarModel']}}" required>
        <div class="invalid-feedback">
          Valid car model is required.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="year" class="form-label">Year (YYYY)</label>
        <input type="text" name="year" class="form-control" pattern="[0-9]{4}" id="year" value="{{car_to_edit['Year']}}" required>
        <div class="invalid-feedback">
          Valid year is required.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="registration_number" class="form-label">Registration number</label>
        <input type="text" name="registration_number" class="form-control" id="registration_number" value="{{car_to_edit['RegNumber']}}" required>
        <div class="invalid-feedback">
          Valid registration number is required.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="seat_cap" class="form-label">Number of seats</label>
        <input type="number" name="seat_cap" class="form-control" id="seat_cap" value="{{car_to_edit['SeatCap']}}">
      </div>

      <div class="col-sm-6">
        <label for="rental_per_day" class="form-label">Rental per day</label>
        <input type="text" name="rental_per_day" class="form-control" id="rental_per_day" value="{{car_to_edit['RentalPerDay']}}">
      </div>

      <div class="col-sm-6">
        <label for="userid" class="form-label">User ID</label>
        <input type="number" name="userid" id="userid" value="{{car_to_edit['UserID']}}">
      </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
    </form> 

</div>

{% endblock %}