{% extends 'layout.html' %}

{% block title %}Edit profile{% endblock %}

{% block content %}

<div class="col-md-7 col-lg-8 container mt-4" >

    <h4 class="mb-3">Edit Profile</h4>
    <form action="{{ url_for('update_profile')}}" method = "POST" class="needs-validation" novalidate>
      <div class="row g-3">

        <div class="col-sm-6">
            <label for="user_id" class="form-label">User ID (read only):</label>
            <input type="text" name="user_id" id="user_id" value="{{account['UserID']}}" class="form-control" readonly >
          </div>

        {% if account['Role']==3 %}
          <div class="col-sm-6">
            <label for="customer_id" class="form-label">Customer ID (read only):</label>
            <input type="text" name="customer_id" id="customer_id" value="{{account['CustomerID']}}" class="form-control" readonly >
          </div>
        
        {% elif account['Role'] == 2 %}
            <div class="col-sm-6">
            <label for="staff_id" class="form-label">Staff ID (read only):</label>
            <input type="text" name="staff_id" id="staff_id" value="{{account['StaffID']}}" class="form-control" readonly >
          </div>
        {% endif %}

    <div class="row g-3">
      <div class="col-sm-6">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="userName" value="{{account['UserName']}}" required>
        <div class="invalid-feedback">
          Valid user name is required.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="password" class="form-label">Password</label>
        <input type="text" name="password" class="form-control" id="password" value="{{account['Password']}}" required>
        <div class="invalid-feedback">
            Valid password is required.
          </div>
      </div>

      <div class="col-sm-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" id="email" value="{{account['Email']}}" required>
        <div class="invalid-feedback">
          Valid email is required.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="display_name" class="form-label">Display Name <span class="text-body-secondary">(Optional)</span></label>
        <input type="text" name="display_name" class="form-control" id="display_name" value="{{account['ProfileName']}}">
      </div>

      <div class="col-sm-6">
        <label for="address" class="form-label">Address <span class="text-body-secondary">(Optional)</span></label>
        <input type="text" name="address" class="form-control" id="address" value="{{account['Address']}}">
      </div>

      <div class="col-sm-6">
        <label for="phone" class="form-label">Phone number <span class="text-body-secondary">(Optional)</span></label>
        <input type="text" name="phone" id="phone" value="{{account['PhoneNumber']}}">
      </div>
    </div>
  </div>

    <hr class="my-4">

    {{msg}}
    <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
    </form> 

</div>

{% endblock %}