{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Account information:</p>

    <table>
        <tr>
            <td>User ID:</td>
            <td>{{ account['UserID'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>@{{ account['UserName'] }}</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>Display Name:</td>
            <td>{{ account['ProfileName'] }}</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{ account['Address'] }}</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>{{ account['PhoneNumber'] }}</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['Email'] }}</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['Password'] }}</td>
            <td>Edit</td>
        </tr>

    </table>
</div>
{% endblock %}