{% extends 'layout.html' %}

{% block title %}Staff{% endblock %}

{% block content %}

{% with msg = get_flashed_messages() %}
  {% if msg %}
        {{ msg }}
  {% endif %}
{% endwith %}

<a href="{{ url_for('add_user_page', type='staff')}}" class="btn btn-primary">Add Staff</a>

<a href="{{ url_for('home')}}">Go back</a>

<table class="table table-striped mt-5 text-center">
    <tr><th>Staff ID</th><th>Username</th><th>Staff Name</th><th>Email</th><th>Phone Number</th><th>Country</th><th>Action</th></tr>
    {% for staff in stafflist %}
        <tr>
                <td>{{staff['StaffID']}}</td>
                <td><a href="/profile/{{staff['UserID']}}">{{staff['UserName']}}</a></td>
                <td><a href="/profile/{{staff['UserID']}}">{{staff['FirstName']}} {{staff['LastName']}}</a></td>
                <td>{{staff['Email']}}</td>
                <td>{{staff['PhoneNumber']}}</td>
                <td>{{staff['Country']}}</td>
                <td>
                     <!-- Edit staff -->
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_staff">
                        Edit
                    </button>
                    
                    <div class="modal fade" id="edit_staff" tabindex="-1" aria-labelledby="edit_staff" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="edit_staff">Edit staff</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('update_user', type=user_type)}}" method = "POST" class="needs-validation" novalidate>
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="username" class="form-label">Username</label>
                                                <input type="text" name="username" class="form-control" id="userName" value="{{staff['UserName']}}" required>
                                                <div class="invalid-feedback">
                                                  Valid user name is required.
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="firstname" class="form-label">First Name <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="firstname" class="form-control" id="firstname" value="{{staff['FirstName']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="lastname" class="form-label">Last Name <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="lastname" class="form-control" id="lastname" value="{{staff['LastName']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="phone" class="form-label">Phone number <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="phone" id="phone" value="{{staff['PhoneNumber']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="text" name="email" class="form-control" id="email" value="{{staff['Email']}}" required>
                                                <div class="invalid-feedback">
                                                  Valid email is required.
                                                </div>
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="address" class="form-label">Address <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="address" class="form-control" id="address" value="{{staff['Address']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="Suburb" class="form-label">Suburb <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="suburb" class="form-control" id="suburb" value="{{staff['Suburb']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="city" class="form-label">City <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="city" class="form-control" id="city" value="{{staff['City']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="state" class="form-label">State <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="state" class="form-control" id="state" value="{{staff['State']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="postcode" class="form-label">Postcode <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="postcode" class="form-control" id="postcode" value="{{staff['Postcode']}}">
                                            </div>
                                        
                                            <div class="col-sm-6">
                                                <label for="country" class="form-label">Country <span class="text-body-secondary">(Optional)</span></label>
                                                <input type="text" name="country" class="form-control" id="country" value="{{staff['Country']}}">
                                            </div>
                                              
                                        
                                            <div class="col-sm-6">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="text" name="password" class="form-control" id="password" value="{{staff['Password']}}" required>
                                                <div class="invalid-feedback">
                                                    Valid password is required.
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- finish editing staff -->
                    <a href="/delete/user/{{staff['UserID']}}">Delete</a>
                </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}