{% extends 'layout.html' %}

{% block title %}Staff{% endblock %}

{% block content %}

<table class="table table-striped mt-5 text-center" id="myTable">
    <tr><th>Staff ID</th><th>Username</th><th>Email</th><th>Display Name</th><th>Address</th><th>Phone Number</th></tr>
    {% for staff in stafflist %}
        <tr>
                <td>{{staff['UserID']}}</td>
                <td>{{staff['UserName']}}</td>
                <td>{{staff['Email']}}</td>
                <td>{{staff['ProfileName']}}</td>
                <td>{{staff['Address']}}</td>
                <td>{{staff['PhoneNumber']}}</td>
                <td>
                    <a href="/edit/{{staff['UserID']}}">Edit</a>
                </td>
                <td>Delete</td>
        </tr>
    {% endfor %}
</table>



add a staff


{% endblock %}