{% extends 'layout.html' %}

{% block title %}Cars{% endblock %}

{% block content %}

<div class="container px-5">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <!-- go back to dashboard icon -->
        <div>
            <a href="{{ url_for('home')}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="custom-back" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
             </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Car ID</th>
                    <th>Car Image</th>
                    <th>Car Model</th>
                    <th>Year</th>
                    <th>Registration</th>
                    <th># of seats</th>
                    <th>Rental Per Day</th>
                    <th>Availability</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for car in car_list %}
                    <tr class="py-0">
                        <td>{{car['CarID']}}</td>
                            <div>
                                {% if car['CarImage'] %}
                                    <td><a href="/home/car/{{car['CarID']}}"><img src="{{ url_for('static', filename='car_images/' + car['CarImage']) }}" style="width:100%; height: 140px; object-fit: cover;"></a></td>
                                {% else %}
                                    <td><a href="/home/car/{{car['CarID']}}"><img src="{{ url_for('static', filename='car_images/' + 'replace.gif') }}"></a></td>
                                {% endif %}
                            </div>
                        <td><a href="/home/car/{{car['CarID']}}">{{car['CarModel']}}</a></td>
                        <td>{{car['Year']}}</td>
                        <td>{{car['RegNumber']}}</td>
                        <td>{{car['SeatCap']}}</td>
                        <td>${{car['RentalPerDay']}}</td>
                        {% if car['CustomerID'] == None %}
                            <td>Available</td>
                        {% else %}
                            <td>Rent to Customer {{car['CustomerID']}}</td>  
                        {% endif %}

                        <td>
                            <!-- Edit car -->
                            <a href="{{ url_for('check_car',carid=car['CarID'])}}">
                            <button type="button" class="btn btn-primary px-2 mx-0" >
                               Check
                            </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>


{% endblock %}