{% extends 'layout.html' %}

{% block title %}Car list{% endblock %}

{% block content %}

<div class="mx-auto mt-5 pt-5">
	<h1 class="display-6 text-center mx-auto lead mt-5" style="color:rgb(0,28,48,0.8)"><small>NZ Adventures, Swiftly Unveiled.</small></h1>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
	<div class="row align-items-center g-lg-5 py-5">
		<div class="col-md-7 col-9 mx-auto col-lg-5">
			<!-- login form -->
			<form class="p-4 p-md-5 border rounded-3 bg-body-tertiary bg-opacity-50 needs-validation form-feedback" action="{{ url_for('login') }}" method="post" novalidate>
				<!-- error message -->
				<div class="mb-3 text-center text-danger">{{ msg }}</div>

				<!-- username input -->
				<div class="form-floating">
					<input type="username" name="username" class="form-control" style="background-color: rgb(255,255,255,0.6);" placeholder="Username" required>
					<label for="floatingInput">Username</label>
				</div>

				<!-- password input -->
				<div class="form-floating mt-3">
					<input type="password" name="password" class="form-control" style="background-color: rgb(255,255,255,0.6);" placeholder="Password" required>
					<label for="floatingPassword">Password</label>
				</div>

				<button class="w-100 btn btn-lg btn-primary mt-4" type="submit" style="background-color: rgb(3, 133, 255); border: none;">Sign in</button>
				<hr class="my-4">

				<div class="text-center" style="color: rgb(83, 100, 113);">
					<span >Don't have an account? </span>
					<span role="button" style="color: rgb(29, 155, 240);">
						<a href="{{ url_for('register') }}"><strong>Sign up</strong></a>
					</span>
				</div>
			</form>
			<!-- end of login form -->
		</div>
	</div>
</div>

{% endblock %}
