{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="mx-auto mt-5">
	<h1 class="display-6 text-center mx-auto lead mt-5" style="color:rgb(0,28,48,0.9);"><small>SwiftCar: Crafting Memories in Every Mile.</small></h1>
</div>

<!-- registration form -->
<div class="container col-xl-9 col-xxl-8 px-4 py-5">
	<div class="col-md-7 col-9 mx-auto col-lg-5">
		<form class="p-3 p-md-5 border rounded-3 bg-body-tertiary bg-opacity-50 needs-validation form-feedback" action="{{ url_for('register') }}" method="post" novalidate>
			<div class="text-center">{{ msg }}</div>
			<div class="form-floating mt-3">
				<input type="username" name="username" class="form-control" id="username" style="background-color: rgb(255,255,255,0.6);" placeholder="Username" required>
				<label for="floatingInput">Username</label>
				<div class="invalid-feedback username-empty-feedback">
					Username is required.
				</div>
				<div class="invalid-feedback username-invalid-format-feedback">
					Username must contain only letters and numbers.
				</div>
				<div class="valid-feedback username-valid-feedback">
					Looks good!
				</div>
			</div>
			
			<div class="form-floating mt-3">
				<input type="email" name="email" class="form-control" id="email" style="background-color: rgb(255,255,255,0.6);" placeholder="email" required>
				<label for="floatingInput">Email</label>
				<div class="invalid-feedback email-empty-feedback">
					Email addrss is required.
				</div>
				<div class="invalid-feedback email-invalid-format-feedback">
					Invalid email address.
				</div>
				<div class="valid-feedback email-valid-feedback">
					Looks good!
				</div>
			</div>
			

			<div class="form-floating mt-3">
				<input type="password" name="password" class="form-control" type="password" id="password" style="background-color: rgb(255,255,255,0.6);" placeholder="Password" required>
				<label for="floatingPassword">Password</label>
				<div class="invalid-feedback password-empty-feedback">
					Password is required.
				</div>
				<div class="invalid-feedback password-invalid-format-feedback">
					Password must be at least 8 characters including a lowercase letter, an uppercase letter, and a number.
				</div>
				<div class="valid-feedback password-valid-feedback">
					Looks good!
				</div>
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-4" type="submit" value="Register" style="background-color: rgb(3, 133, 255); border: none;">Sign up</button>

			<hr class="mt-4 mb-3">

			<div class="text-center" style="color: rgb(83, 100, 113);">
				<span>Already have an account?</span>
				<span role="button" tabindex="0" style="color: rgb(29, 155, 240);">
					<a href="{{ url_for('login') }}"><strong>Log in</strong></a>
				</span>
			</div>
		</form>
	</div>
</div>
<!-- registration form finish -->

{% endblock %}